<main class="box">
  <header gnui-toolbar class="row header">
    <button gnui-button
            class="showcase-toolbar-button"
            icon="menu"
            (click)="isSidenavOpen = !isSidenavOpen"
    >
    </button>
    <div class="showcase-toolbar">
      <span class="showcase-toolbar-title">
        {{title}}
      </span>
      <span class="showcase-toolbar-subtitle">
        {{subtitle}}
      </span>
    </div>
    <button gnui-button
            class="showcase-toolbar-button"
            icon="full-screen"
            (click)="requestFullScreen()"
    >
    </button>
  </header>
  <div class="row content" style="display: flex; flex-flow: row">
    <nav gnui-sidenav [open]="isSidenavOpen">
      <a gnui-sidenav-item *ngFor="let sidenavItem of sidenavItems"
         [icon]="sidenavItem.icon"
         [text]="sidenavItem.text"
         [href]="'#' + sidenavItem.path"
         [selected]="sidenavItem.selected"
         (click)="toggleSidenav(sidenavItem)"
      ></a>
    </nav>
    <div class="showcase-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
